name: Check Markdown links

on:
  push:
    paths:
      - '**.md'
  pull_request:
    branches: '**'
    paths:
      - '**.md'

permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/mlc-poc
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        check-modified-files-only: 'yes'
        config-file: '.github/workflows/markdown-link-check-config.json'
        base-branch: 'main'
